In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
df = pd.read_csv("C:/Users/ZachXiong/Downloads/recategorized_dogs_cats_data.csv")
df.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime,related,...,categories,description,category_len,category_1,category_2,category_3,category_4,category_5,updated_category_4,final_category_4
0,A14CK12J7C7JRK,1223000893,Consumer in NorCal,"[0, 0]",I purchased the Trilogy with hoping my two cat...,3,Nice Distraction for my cats for about 15 minutes,1294790400,"01 12, 2011","{'also_bought': ['B000G1KNPK', 'B00BYHJ6UI', '...",...,"[['Pet Supplies', 'Cats', 'Toys']]",This combo pack provides you with all 3 Cat Si...,3,Pet Supplies,Cats,Toys,NaN,NaN,NaN,NaN
1,A39QHP5WLON5HV,1223000893,Melodee Placial,"[0, 0]",There are usually one or more of my cats watch...,5,Entertaining for my cats,1379116800,"09 14, 2013","{'also_bought': ['B000G1KNPK', 'B00BYHJ6UI', '...",...,"[['Pet Supplies', 'Cats', 'Toys']]",This combo pack provides you with all 3 Cat Si...,3,Pet Supplies,Cats,Toys,NaN,NaN,NaN,NaN
2,A2CR37UY3VR7BN,1223000893,Michelle Ashbery,"[0, 0]",I bought the triliogy and have tested out all ...,4,Entertaining,1355875200,"12 19, 2012","{'also_bought': ['B000G1KNPK', 'B00BYHJ6UI', '...",...,"[['Pet Supplies', 'Cats', 'Toys']]",This combo pack provides you with all 3 Cat Si...,3,Pet Supplies,Cats,Toys,NaN,NaN,NaN,NaN
3,A2A4COGL9VW2HY,1223000893,Michelle P,"[2, 2]",My female kitty could care less about these vi...,4,Happy to have them,1305158400,"05 12, 2011","{'also_bought': ['B000G1KNPK', 'B00BYHJ6UI', '...",...,"[['Pet Supplies', 'Cats', 'Toys']]",This combo pack provides you with all 3 Cat Si...,3,Pet Supplies,Cats,Toys,NaN,NaN,NaN,NaN
4,A2UBQA85NIGLHA,1223000893,"Tim Isenhour ""Timbo""","[6, 7]","If I had gotten just volume two, I would have ...",3,You really only need vol 2,1330905600,"03 5, 2012","{'also_bought': ['B000G1KNPK', 'B00BYHJ6UI', '...",...,"[['Pet Supplies', 'Cats', 'Toys']]",This combo pack provides you with all 3 Cat Si...,3,Pet Supplies,Cats,Toys,NaN,NaN,NaN,NaN

In [15]:
from nltk import tokenize
sents = [tokenize.sent_tokenize(str(r)) for r in df.reviewText.tolist()]
columns_name = ['Sentence' + str(i) for i in range(1, 31, 1)]
sents_df = pd.DataFrame([sen[:30] for sen in sents], columns = columns_name)

In [17]:
sents_df.head()

,Sentence1,Sentence2,Sentence3,Sentence4,Sentence5,Sentence6,Sentence7,Sentence8,Sentence9,Sentence10,...,Sentence22,Sentence23,Sentence24,Sentence25,Sentence26,Sentence27,Sentence28,Sentence29,Sentence30,review
0,I purchased the Trilogy with hoping my two cat...,The 3 yr old cat was fascinated for about 15 m...,The 5 year old watched for about a few minutes...,It is possible that because we have a wonderfu...,I will more than likely pass this on to a frie...,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,I purchased the Trilogy with hoping my two cat...
1,There are usually one or more of my cats watch...,They seem to like the mice and birds the most ...,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,There are usually one or more of my cats watch...
2,I bought the triliogy and have tested out all ...,It appears that volume 2 is the most well rece...,It's funny to watch my cat watch it bc she loo...,I turn this on sometimes when I'm leaving the ...,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,I bought the triliogy and have tested out all ...
3,My female kitty could care less about these vi...,My little male however digs these.,"He doesn't go ape over them, but he really doe...",None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,My female kitty could care less about these vi...
4,"If I had gotten just volume two, I would have ...","I read all the reviews, and knew that vol.","two was the best, hands down, but for few extr...",Since birds are a natural source of food for c...,two.,"Contrary to all the cartoons, cats are not fis...",Since gerbils and guinea pigs are not native w...,"Rodents are also a natural food, so volume one...","Also, the quality could have been better (for ...",None,...,None,None,None,None,None,None,None,None,None,"If I had gotten just volume two, I would have ..."

In [18]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()

In [19]:
# sents_df.fillna('', inplace=True)
# sents_df.head()

In [20]:
for col in sents_df.columns:
    new_col = col + '_sentiment'
    sents_df[new_col] = sents_df[col].astype(str).apply(sid.polarity_scores)
    sents_df[new_col] = sents_df[new_col].apply(lambda x: x['compound'])

In [21]:
sents_df.head()

,Sentence1,Sentence2,Sentence3,Sentence4,Sentence5,Sentence6,Sentence7,Sentence8,Sentence9,Sentence10,...,Sentence22_sentiment,Sentence23_sentiment,Sentence24_sentiment,Sentence25_sentiment,Sentence26_sentiment,Sentence27_sentiment,Sentence28_sentiment,Sentence29_sentiment,Sentence30_sentiment,review_sentiment
0,I purchased the Trilogy with hoping my two cat...,The 3 yr old cat was fascinated for about 15 m...,The 5 year old watched for about a few minutes...,It is possible that because we have a wonderfu...,I will more than likely pass this on to a frie...,None,None,None,None,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9100
1,There are usually one or more of my cats watch...,They seem to like the mice and birds the most ...,None,None,None,None,None,None,None,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.0665
2,I bought the triliogy and have tested out all ...,It appears that volume 2 is the most well rece...,It's funny to watch my cat watch it bc she loo...,I turn this on sometimes when I'm leaving the ...,None,None,None,None,None,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.8270
3,My female kitty could care less about these vi...,My little male however digs these.,"He doesn't go ape over them, but he really doe...",None,None,None,None,None,None,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.7684
4,"If I had gotten just volume two, I would have ...","I read all the reviews, and knew that vol.","two was the best, hands down, but for few extr...",Since birds are a natural source of food for c...,two.,"Contrary to all the cartoons, cats are not fis...",Since gerbils and guinea pigs are not native w...,"Rodents are also a natural food, so volume one...","Also, the quality could have been better (for ...",None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9916

In [22]:
sents_df.iloc[4]['Sentence3_sentiment'], sents_df.iloc[4]['Sentence3']

(0.3818,
 'two was the best, hands down, but for few extra dollars I decided to get all three in a combo pack.')

In [23]:
df['reviewText'][4]

'If I had gotten just volume two, I would have given it five stars, but since I got the trilogy, I can only give it three stars.  I read all the reviews, and knew that vol. two was the best, hands down, but for few extra dollars I decided to get all three in a combo pack.  Since birds are a natural source of food for cats (feral) it was natural that they were instantly attracted to vol. two. Contrary to all the cartoons, cats are not fishermen, and thus, fish, either in a bowl or in the wild are not something they are naturally attracted to. Since gerbils and guinea pigs are not native where I live, they could have been little dogs as far as my cats could tell. Rodents are also a natural food, so volume one was much better than volume three. Also, the quality could have been better (for my eyes only) but my cats could care less about video quality... they just see birds..  LOL'

In [24]:
sents_df.to_csv('sentence_with_sentiment.csv')